body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.plant-card {
  border-radius: 5px;
  background-color: #eee;
  width: calc(12rem + 3vw);
  height: 100%;
  font-size: small;
}

.plant-title {
  font-size: large;
}

.plant-card-container {
  margin: 10px auto;
  width: 100%;
}

.plant-card-table {
  max-width: 100%;
}

.plant-card-col {
  margin-bottom: 10px;
}

.taxon-card {
  border-radius: 5px;
  border: 1px solid black;
  height: 50px;
  padding: 5px;
  margin-bottom: 10px;
}

.full-plant-info {
  border: 5px solid #eee;
  border-radius: 20px;
}

.carousel-photo {
  width: 100%;
}

.items-list {
  display: flex;
  padding: 10px 10px;
  height: 70px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #aaa;
  background-color: #f5f5f5;
  margin-top: 5px;
  margin-bottom: 5px;
}

.items-list-container {
  max-width: 100%;
  display: flex;
  overflow-x: scroll;
  margin-top: 1.5%;
  height: 2.8rem;

&::-webkit-scrollbar {
   width: 14px;
 }
&::-webkit-scrollbar-thumb {
   background: #d7d9db;
   border-radius: 999px;
   border: 4px solid rgba(0, 0, 0, 0);
   background-clip: padding-box;
 }
}

.list-item {
  border-radius: 5px;
  align-items: center;
  display: flex;
  margin-right: 10px;
}

#leaflet-map {
  height: 400px;
}

.leaflet-attribution-flag {
  height: 0 !important;
  width: 0 !important;
}

.table-row-input {
  max-width: 100px;
}

.photo-card {
  width: 100%;
}

.taxon-form {
  display: flex;
  align-items: center;
  position: relative;
}

.taxon-form-text {
  font-size: 16px;
  font-weight: 500;
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  width: 20rem;
}

.link {
  text-decoration: none;
}

.custom-dropdown {
  position: absolute;
  top: 70%;
}
